/* h2{
    color: rgb(131, 242, 52);
    background-color: rgb(57, 32, 199);
}
p{
    font-size: large ;
    font-weight: bolder;
    font-style: oblique;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
} */